{% include 'Document/base.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/list.css' %}">




<body>

<form class="navbar-form navbar-right" method="GET" action="">
    <input type="search" class="form-control glyphicon glyphicon-search" name ='q' placeholder="Search..." value='{{ request.GET.q}}'>
    <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i> Search</button>
</form>




 <div class = "fondo">
    <div class="oscurecer">

        <div class=" buscador">

            <form class="navbar-form navbar-right" method="GET" action="">
                <input type="search" class="form-control glyphicon glyphicon-search" name ='q' placeholder="Search..." value='{{ request.GET.q}}'>
                <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i> Search</button>
            </form>

        </div>

        <p>Selecciona el fichero que deseas eliminar:</p>

        <table class ="caracol pure-table " id="myTable">
         <tr>

            <th>Nombre</th>
            <th>Fecha de subida</th>
            <th>Subido por</th>
            <th></th>

         </tr>

         <tbody>
            {% for Document in object_list %}
                <tr >
                    <td>{{Document.Nombre }}</td>
                    <td>{{Document.uploaded_at}}</td>
                    <td>{{Document.user}}</td>
                    <td><center><button type="submit" class="btn btn-default" data-toggle="modal" data-target="#myModal{{Document.id}}"><i class="glyphicon glyphicon-trash"></i> Delete</button></center></td>
                </tr>
         </tbody>



        <div class="test3 modal  modal-dialog " id="myModal{{Document.id}}" >
            <div class="modal-content">
                <div class=" modal-body">
                    ¿Estas seguro de eliminar el fichero: {{Document.Nombre}}?
                </div>
            <div class="modal-footer">
                <form action= "{% url 'delete' Document.id %}" method='POST'>
                    {% csrf_token %}
                    <center><input type='submit' value='Delete' /><input type="submit" value="Cancel"  data-dismiss="modal"/></center>
                </form>
            </div>

            </div>

        </div>


           {% endfor %}

        </table>

        <div class="pagination" >

             {% if page_obj.has_previous %}
                  <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&laquo;</span></li>
             {% endif %}



            {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="active"><a href="?page={{ i }}">{{ i }}</a></li>
                {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}


            {% if page_obj.has_next %}

                  <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>


            {% else %}

                  <li class="disabled"><span>&raquo;</span></li>

            {% endif %}

        </div>


    </div>

 </div>
</body>


{% endblock %}





