{% include 'Document/base.html' %}


{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/list.css' %}">



<body>

<div class = "fondo">
    <div class="oscurecer">
        <p style="color:white; postiion:absolute; top:8%; left:15%; right:10%;"><i>Se esta representando la figura: {{filename}} </i><p>


        <div class="contenedor">
            <script>
                $(document).ready(function () {
                    $("#plot").fadeIn(5000)


                });

            </script>

            <div id="plot" class="pcl">

               {{plot|safe}}

            </div>
        </div>

    </div>
</div>
