{% include 'Document/base.html' %}
{% block content %}


{% load static %}
<link rel="stylesheet" href="{% static 'css/list.css' %}">



<body>

<div class = "fondo">
    <div class="oscurecer">
        <p style="color:white; position:absolute; top:8%; margin-left:auto; margin-right:auto; left:0; right:0;"><i>Se esta representando la figura: {{filename}} </i><p>



        <div class="contenedor">

         <script>
                $(document).ready(function () {
                    $("#plot").fadeIn(4000)
                });
         </script>

            <div id="plot" class="pcl" style="display: none;" >

               {{plot|safe}}

            </div>
        </div>

    </div>
</div>
</body>


{% endblock %}
